<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/card.css">
    <title>Document</title>
</head>
<body>
<div class="container">
    <div class="customCard">
        <a href="#">
            <div class="img-card">
                <div class="price">25 azn</div>
                <div class="special">
                    <img src="/assets/icons/Vector.svg" alt="">
                </div>
                <div class="fav">
                    <img src="/assets/icons/fav.svg" alt="">
                </div>
                <a href="#">
                    <img src="/assets/img/artur-tumasjan-05804iCnNcQ-unsplash%20(1).jpg" alt="">
                </a>
            </div>
            <div class="body-card">
                <div class="title">
                    Mehsul
                </div>
                <div class="description">
                    Lorem Ipsum is simply dummy
                    text of the printing and
                </div>
                <div class="date">
                    <span>10.15.2021</span>
                </div>
            </div>
        </a>
    </div>
</div>


</body>
</html>