<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<section class="footer">
    <div class="custom-container">
        <div class="mobile-widgets d-flex justify-content-center flex-md-row flex-column" style="gap: 100px">
            <div class="mobile-widget d-flex justify-content-between" style="gap: 100px" >
                <div class="widget">
                    <div class="d-flex flex-column">
                        <span class="head-span">Partnyorlar</span>
                        <span>Kapital Bank</span>
                        <span>Baku Design Academy</span>
                        <span>Irsad Telekom</span>
                        <span>Tap.az</span>
                    </div>
                </div>
                <div class="widget">
                    <div class="d-flex flex-column">
                        <span class="head-span">Haqqımızda</span>
                        <span>10.15.2021</span>
                        <span>10.15.2021</span>
                        <span>10.15.2021</span>
                        <span>10.15.2021</span>
                    </div>
                </div>
            </div>
            <div class="mobile-widget2 d-flex justify-content-between flex-column flex-sm-row" style="gap: 100px">
                <div class="widget">
                    <div class="d-flex flex-column">
                        <span class="head-span">Əlaqə</span>
                        <span>info@baxqazan.az</span>
                        <span>+994 55 444 44 44</span>
                        <span>+994 55 444 44 55</span>
                        <span>+994 12 333 33 66</span>
                    </div>
                </div>
                <div class="widget">
                    <div class="d-flex flex-row flex-sm-column justify-content-between justify-content-lg-start">
                        <div class="logo">
                            <img src="/assets/img/footerLogo.png" alt="">
                        </div>
                        <div class="desktop-social">
                            <ul class="social-icons d-flex">
                                <li>
                                    <a href="#"><img src="/assets/icons/fb-icon.svg" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="/assets/icons/li-icon.svg" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="/assets/icons/insta-icon.svg" alt=""></a>
                                </li>
                            </ul>
                        </div>
                        <div class="d-flex flex-column">
                            <a href="#" class="app-store">
                                <img src="/assets/img/appStoreLogo.png" alt="">
                            </a>
                            <a href="#" class="google-play">
                                <img src="/assets/img/googlePlayLogo.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-divider"></div>
        <div class="mobile-social-icons">
            <ul class=" justify-content-center social-icons d-flex">
                <li>
                    <a href="#"><img src="/assets/icons/fb-icon.svg" alt=""></a>
                </li>
                <li>
                    <a href="#"><img src="/assets/icons/li-icon.svg" alt=""></a>
                </li>
                <li>
                    <a href="#"><img src="/assets/icons/insta-icon.svg" alt=""></a>
                </li>
            </ul>
        </div>
        <div class="copyWrite">
            <span>©️  2021 Baxqazan. Bütün hüquqlar qorunur</span>
        </div>
    </div>
</section>
</body>
</html>