<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
 <div class="position-relative">
    <select class="select" name="" id="">
        <option value="Bakı">Bakı</option>
        <option value="Gəncə">Gəncə</option>
        <option value="Quba">Quba</option>
    </select>
    <svg class="position-absolute dropdown-icon" width="14" height="8" viewBox="0 0 14 8" fill="none"
         xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L7 7L13 1" stroke="#989898" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round"/>
    </svg>
</div>
</body>
</html>